
.dk-grid{
    fill: #EDEDED;
    stroke : black;
    stroke-width: 1;
    stroke-opacity : 1.0;
    fill-opacity : 0.5;
}

.dk-row-header, .dk-col-header{
    fill : white;
    stroke : black;
    stroke-width : 1;
    stroke-opacity : 1.0;
    fill-opacity : 0.5;
}

.dk-row-header-text, .dk-col-header-text{
    font-family: 'Microsoft YaHei Black', sans-serif;
    font-size : 12px;
    text-anchor : middle;
    fill : black;
    font-weight : bold;
    transform: translateY(0.3em);
}

.dk-today-line{
    stroke : red;
    stroke-width : 5;
    stroke-opacity : 0.5;
    stroke-dasharray: 16,10;
}

.dk-proj-text{
    font-family: 'Microsoft YaHei Black', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-anchor: middle;
    fill: lightcyan;
}

.dk-proj-expedited-text{
    font-family: 'Microsoft YaHei Black', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-anchor: middle;
    fill: yellow;
}

.dk-project{
    rx:2px;
    ry:2px;
}

.dk-project-normal{
    stroke : #2E61BA;
    stroke-width : 1;
}

.dk-project-expedited{
    stroke : #FFFF00;
    stroke-width : 5;
}

.dk-project-historical, .dk-project-running{
    fill: url(#gradient_green);
    fill-opacity : 1;
}

.dk-project-queued{
    fill: url(#gradient_blue);
    fill-opacity : 1;
}

.dk-project-delayed{
    fill: url(#gradient_orange);
    fill-opacity : 1;
}

.dk-project-fault{
    fill: url(#gradient_black);
    fill-opacity : 1;
}


